.container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  padding: 40px 20px;
  flex-direction: column;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 300px;
  max-width: 500px;
  border: 5px solid #bbb;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.item:nth-child(1) {
  background-image: url("/illustration.png");
}

.item:nth-child(2) {
  background-image: url("/Projects.png");
}

.item:nth-child(3) {
  background-image: url("/Program.png");
}

.item:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #FFD700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.mainTitle {
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
  border-radius: 10px;
}

.desc {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .title {
    font-size: 48px;
  }

  .img {
    height: 300px;
  }

  .desc {
    font-size: 20px;
  }

  .items {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .item {
    width: 90vw;
    max-width: 350px;
    height: 250px;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }

  .img {
    height: 250px;
  }

  .desc {
    font-size: 18px;
  }
}
